name: ShellCheck

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    shellcheck:
        name: ShellCheck
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Run ShellCheck
              uses: ludeeus/action-shellcheck@2.0.0
              with:
                  scandir: "."
                  severity: warning
              env:
                  SHELLCHECK_OPTS: -e SC1091
